<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">

<div class="container-fluid mx-auto text-center bg-secondary pt-5" style="background-image:url(/img/image.jpg);background-repeat: no-repeat;
 background-size: cover;min-height:900px;">

    <div>
        <h2>Ajout véhicule</h2>
    </div>


    <% if(error) { %>
    <div class="row justify-content-center">
        <div class="alert alert-danger col-lg-6 " role="alert">
            Vous devez ajouter un véhicule avant de pouvoir créer un covoiturage
        </div>
    </div>
    <% } %>
    <div class="row justify-content-center">

        <% include templates/profile-nav.ejs %>


        <div class="row bg-light border rounded col-lg-6 col-md-8 col-sm-12 p-3 m-2">
            <% cars.forEach(function(car) { %>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0"><%= car.model %></h5>
                        <p class="card-text mb-0"><small class="text-muted"><%= car.plateNumber %></small></p>

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Bagages</label>
                                    </div>
                                    <select class="custom-select vehicule-param" name="luggage" data-id="<%= car._id %>"
                                        id="inputGroupSelect01">
                                        <option value="1" <%= car.luggageSize === 1 ? 'selected': '' %>>Petit
                                            (sac à
                                            dos, ...)</option>
                                        <option value="2" <%= car.luggageSize === 2 ? 'selected': '' %>>Moyen
                                            (sac
                                            de sport, ...)</option>
                                        <option value="3" <%= car.luggageSize === 3 ? 'selected': '' %>>Gros
                                            (valises, ...)</option>
                                    </select>
                                </div>
                            </li>

                            <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                    name="smoke" type="checkbox" data-toggle="toggle" data-on="Fumée autorisée"
                                    data-width="100%" data-off="Fumée non autorisée" <%= car.smoke ? 'checked' : '' %>>
                            </li>
                            <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                    name="animals" type="checkbox" data-toggle="toggle" data-on="Animaux autorisés"
                                    data-width="100%" data-off="Animaux non autorisés"
                                    <%= car.animals ? 'checked' : '' %>></li>
                            <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                    name="clim" type="checkbox" data-toggle="toggle" data-on="Climatisation"
                                    data-width="100%" data-off="Pas de climatisation" <%= car.clim ? 'checked' : '' %>>
                            </li>
                            <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                    name="bike" type="checkbox" data-toggle="toggle" data-on="Porte vélo"
                                    data-width="100%" data-off="Pas de porte vélo" <%= car.bike ? 'checked' : '' %>>
                        </ul>

                        <!--<button type="button" class="btn btn-danger mt-3 w-75">Delete</button>-->
                    </div>
                </div>
            </div>
            <% }) %>

            <div class="col-lg-4 col-md-6 col-sm-12 pb-3 d-flex align-items-stretch">
                <div class="card w-100 p-0 m-0">
                    <div class="card-body p-0">

                        <button type="button" class="btn btn-light w-100 h-100" data-toggle="modal"
                            data-target="#exampleModal"><i class="fas fa-plus-circle text-secondary"
                                style="font-size: 5em"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajout voiture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Modele</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" name="model"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">numéro de
                                        plaque</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" name="plateNumber"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Ajouter Voiture</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js">
</script>

<script>
    $('.toggle').bootstrapToggle({
        width: '100%'
    });
    $('.vehicule-param').on('change', function () {
        var data = {
            id: $(this).data('id'),
        };

        if (this.type == "checkbox") {
            //console.log(this.name + "-" + this.checked);
            data.value = this.checked;
        } else {
            //console.log("size -" + this.value);
            data.value = this.value;
        }

        $.ajax({
            type: "POST",
            url: '/profile/cars/ajax-update/' + this.name,
            data,
        });
    });

</script>

<% include templates/footer.ejs %>