<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary pt-5"
    style="background-image:url(/img/image.jpg);background-repeat: no-repeat;background-size: cover;min-height:900px;">

    <div>
        <h2>Mes crédits</h2>
    </div>


    <div class="row justify-content-center">

        <% include templates/profile-nav.ejs %>

        <div class="bg-light border rounded col-lg-6 col-md-8 col-sm-12 p-3 m-2">
            <form action="" method="post">
                <!-- Erreurs update password -->
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% errors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
                <!-- Fin erreurs update password -->

                <!-- Succès modification password -->
                <% if (typeof success !== 'undefined' && success === true) { %>
                <div class="alert alert-success" role="alert">
                    <strong>Votre compte a bien été crédité.</strong><br /> Merci pour votre achat.
                </div>
                <% } %>

                <!-- Fin succès modification password -->

                <div class="form-group row mt-3">
                    <label for="credit" class="col-sm-3 col-form-label">Crédit sur votre compte</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" name="credit" id="credit"
                            value="<%= user.credit %>€">
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="amount" class="col-sm-3 col-form-label">Montant à créditer</label>
                    <div class="col-sm-9">
                        <input type="number" min="1" max="1000" value="10" class="form-control" name="amount"
                            id="amount" value="">
                    </div>
                </div>

                <!-- Divider -->
                <div class="dropdown-divider my-3"></div>
                <!-- Fin Divider-->

                <!-- Payment form (taken from https://bootstrapious.com/p/bootstrap-credit-card-form) -->
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="bg-white rounded-lg shadow-sm p-5">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                        <i class="fa fa-credit-card"></i>
                                        Carte de crédit
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill">
                                        <i class="fab fa-paypal"></i>
                                        Paypal
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                                        <i class="fa fa-university"></i>
                                        Virement
                                    </a>
                                </li>
                            </ul>
                            <!-- End -->


                            <!-- Credit card form content -->
                            <div class="tab-content">

                                <!-- credit card info-->
                                <div id="nav-tab-card" class="tab-pane fade show active">
                                    <div class="form-group">
                                        <label for="username">Nom complet (sur la carte)</label>
                                        <input type="text" name="username" placeholder="Jason Doe" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="cardNumber">Numéro de la carte</label>
                                        <div class="input-group">
                                            <input type="text" name="cardNumber" placeholder="Votre numéro de carte"
                                                class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i>
                                                    <i class="fab fa-cc-amex mx-1"></i>
                                                    <i class="fab fa-cc-mastercard mx-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label><span class="hidden-xs">Expiration</span></label>
                                                <div class="input-group">
                                                    <input type="number" placeholder="MM" name="" class="form-control">
                                                    <input type="number" placeholder="AA" name="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4">
                                                <label data-toggle="tooltip"
                                                    title="Three-digits code on the back of your card">CVV
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <p class="text-muted">Ceci est une démonstration de l'étape du paiement, vous pouvez
                                            ignorer ceci et
                                            cliquer directement sur <strong>Payer</strong>.
                                        </p>
                                    </div>
                                </div>
                                <!-- End -->

                                <!-- Paypal info -->
                                <div id="nav-tab-paypal" class="tab-pane fade">
                                    <p>Paypal est la facile la plus facile de payer en ligne</p>
                                    <p>
                                        <button type="button" class="btn btn-primary rounded-pill"><i
                                                class="fab fa-paypal mr-2"></i> Se connecter à Paypal</button>
                                    </p>
                                    <p class="text-muted">
                                        Ceci est une démonstration de l'étape du paiement, vous pouvez ignorer ceci et
                                        cliquer directement sur <strong>Payer</strong>.
                                    </p>
                                </div>
                                <!-- End -->

                                <!-- bank transfer info -->
                                <div id="nav-tab-bank" class="tab-pane fade">
                                    <h6>Notre compte bancaire</h6>
                                    <dl>
                                        <dt>Banque</dt>
                                        <dd> THE WORLD BANK</dd>
                                    </dl>
                                    <dl>
                                        <dt>Numéro du compte</dt>
                                        <dd>7775877975</dd>
                                    </dl>
                                    <dl>
                                        <dt>IBAN</dt>
                                        <dd>CZ7775877975656</dd>
                                    </dl>
                                    <p class="text-muted">Ceci est une démonstration de l'étape du paiement, vous pouvez
                                        ignorer ceci et
                                        cliquer directement sur <strong>Payer</strong>.
                                    </p>
                                </div>
                                <!-- End -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End payment form -->
                <button type="submit" class="btn btn-primary mt-3">Payer</button>

            </form>
        </div>


    </div>


</div>

<% include templates/footer.ejs %>