<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>


<div class="container-fluid mx-auto text-center bg-secondary pt-5" style="background-image:url(/img/image.jpg);background-repeat: no-repeat;
background-size: cover;min-height:900px;">
    <form action="" method="post">
        <h1 class="display-4 mb-3">Ajout trajet</h1>
        <div class="row flex-row-reverse justify-content-center">

            <div class="bg-light border rounded col-lg-2 col-md-4 col-sm-12 p-3 m-2 float-right">
                <h1 class="display-5 mb-3">Choix Vehicule</h1>
                <div class="row justify-content-center">
                    <div class="col-12 ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelectVehicule">Véhicule</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelectVehicule" name="vehicule-selected">
                                <% cars.forEach(function(car) { %>
                                <option value="<%= car._id %>" <%= car === cars[0] ? 'selected' : '' %>><%= car.model %>
                                    (<%= car.plateNumber %>)</option>
                                <% }); %>
                            </select>
                        </div>

                        <% cars.forEach(function(car) { %>
                        <div class="card card-test" <%- car !== cars[0] ? 'style="display:none"' : '' %>
                            id="<%= car._id %>">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Bagages</label>
                                            </div>
                                            <select class="custom-select vehicule-param" name="luggage"
                                                data-id="<%= car._id %>" id="inputGroupSelect01">
                                                <option value="1" <%= car.luggageSize === 1 ? 'selected': '' %>>Petit
                                                    (sac à
                                                    dos, ...)</option>
                                                <option value="2" <%= car.luggageSize === 2 ? 'selected': '' %>>Moyen
                                                    (sac
                                                    de sport, ...)</option>
                                                <option value="3" <%= car.luggageSize === 3 ? 'selected': '' %>>Gros
                                                    (valises, ...)</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                            name="smoke" type="checkbox" data-toggle="toggle" data-on="Fumée autorisée"
                                            data-width="100%" data-off="Fumée non autorisée"
                                            <%= car.smoke ? 'checked' : '' %>></li>
                                    <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                            name="animals" type="checkbox" data-toggle="toggle"
                                            data-on="Animaux autorisés" data-width="100%"
                                            data-off="Animaux non autorisés" <%= car.animals ? 'checked' : '' %>></li>
                                    <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                            name="clim" type="checkbox" data-toggle="toggle" data-on="Climatisation"
                                            data-width="100%" data-off="Pas de climatisation"
                                            <%= car.clim ? 'checked' : '' %>></li>
                                    <li class="list-group-item"><input class="vehicule-param" data-id="<%= car._id %>"
                                            name="bike" type="checkbox" data-toggle="toggle" data-on="Porte vélo"
                                            data-width="100%" data-off="Pas de porte vélo"
                                            <%= car.bike ? 'checked' : '' %>>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>

            <div class="bg-light border rounded col-lg-3 col-md-6 col-sm-12 p-3 m-2 float-right">
                <h1 class="display-5 mb-3">Details trajet</h1>
                <!-- Erreurs connexion -->
                <% if (typeof errors !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% errors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
                <!-- Fin erreurs connexion -->
                <div class="row justify-content-center">
                    <div class="col-12 ">
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Ville de départ</span>
                            </div>
                            <input type="text" id="departure" name="departure" value="<%= req.body.departure %>"
                                class="form-control" autocomplete="off">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adresse de départ</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" name="addressDeparture"
                                value="<%= req.body.addressDeparture %>" aria-describedby="inputGroup-sizing-default">
                        </div>


                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Ville d'arrivée</span>
                            </div>
                            <input type="text" id="arrival" name="arrival" class="form-control" autocomplete="off"
                                value="<%= req.body.arrival %>">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Adresse d'arrivée</span>
                            </div>
                            <input type="text" name="addressArrival" class="form-control"
                                value="<%= req.body.addressArrival %>">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Indications</span>
                            </div>
                            <input type="text" name="indications" class="form-control"
                                value="<%= req.body.indications %>">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Prix</span>
                            </div>
                            <input type="number" class="form-control" name="pricePerPassenger"
                                value="<%= req.body.pricePerPassenger %>">
                            <div class="input-group-append">
                                <span class="input-group-text">€</span>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Nombre de place</span>
                            </div>
                            <input type="number" min="1" name="places" class="form-control"
                                value="<%= req.body.places %>">
                        </div>


                        <div class="input-group mb-3 p-0 date datepicker">
                            <input type="text" class="form-control w-100 " name="departureDate"
                                value="<%= req.body.departureDate %>">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-th"></i></span>
                            </div>
                        </div>
                        <div class='input-group'>

                            <div class="form-group w-100">
                                <div class="input-group" id="datetimepicker3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" name="departureTime"
                                        value="<%= req.body.departureTime %>" data-target="#datetimepicker3" />
                                    <div class="input-group-append" data-target="#datetimepicker3"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />



<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>


<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr-CH.min.js"
    charset="UTF-8"></script>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script
    src="https://phppot.com/demo/bootstrap-autocomplete-with-dynamic-data-load-using-php-ajax/typeahead.js"></script>

<script>
    $('.input-group.date').datepicker({
        language: "fr",
        autoclose: true
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'HH:mm'
        });
    });

    $('#inputGroupSelectVehicule').on('change', function () {
        $('.card-test').hide();
        $('#' + this.value).show();
    });

    $('.vehicule-param').on('change', function () {
        var data = {
            id: $(this).data('id'),
        };

        if (this.type == "checkbox") {
            //console.log(this.name + "-" + this.checked);
            data.value = this.checked;
        } else {
            //console.log("size -" + this.value);
            data.value = this.value;
        }

        $.ajax({
            type: "POST",
            url: '/profile/cars/ajax-update/' + this.name,
            data,
        });
    });
</script>
<script>
    // Script recherche dynamique
    function cityQuery(query, result) {
        $.ajax({
            url: "/search/city?q=" + encodeURI(query),
            type: "GET",
            success: function (data) {
                result($.map(data.data, function (item) {
                    return item.nameWithPostalCode;
                }));
            }
        });
    }

    var selectedDeparture = false;
    var selectedArrival = false;

    function updateSubmit() {
        if (selectedDeparture && selectedArrival)
            $('#submit').prop('disabled', false);
    }

    $(document).ready(function () {
        $('#departure').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedDeparture = true;
                updateSubmit();
            },
            matcher: function () { return true; },
        });

        $('#arrival').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedArrival = true;
                updateSubmit();
            },
            matcher: function () { return true; }
        });
    });
</script>

<% include templates/footer.ejs %>