<div class="col-lg-2 col-md-8 col-sm-12 m-1 p-0">

    <div class="card mb-2">
        <div class="row no-gutters">
            <div class="col-4 col-lg-12">
                <img src="<%= user.image === 'empty' ? 'https://ccivr.com/wp-content/uploads/2019/07/empty-profile.png' : ('https://storage.cloud.google.com/travelexpress/'+ user.image) %>" alt="Card image cap" class="card-img" style="max-height: 170px;max-width: 100%; height: auto;width: auto;">
            </div>
            <div class="col-8 col-lg-12">
                <div class="card-body border-top">
                    <h5 class="card-title"><%= user.firstName +' ' + user.lastName %>%></h5>
                </div>
            </div>
        </div>
    </div>



    <div class="dropdown show col-12 d-sm-block d-lg-none px-0">
        <ul class="nav">
            <li class="col-sm-12 px-0">
                <button class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Choisir une page</button>
                <div class="dropdown-menu w-100">
                    <a class="dropdown-item" href="/profile">Mon profil</a>
                    <a class="dropdown-item" href="/profile/credit">Mes crédits</a>
                    <a class="dropdown-item" href="/profile/travels">Mes trajets</a>
                    <a class="dropdown-item" href="/profile/reservations">Mes réservations</a>
                    <a class="dropdown-item" href="/profile/cars">Mes véhicules</a>
                    <a class="dropdown-item" href="/profile/history">Mon historique</a>
                    <a class="dropdown-item" href="/profile/password">Changer mot de passe</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="bg-light border rounded col-12 p-3 d-none d-md-none d-lg-block">
        <div class="list-group">
            <a href="/profile" class="list-group-item list-group-item-action <%= selectedPage === 'profile' ? 'active' : '' %>">Mon profil</a>
            <a href="/profile/credit" class="list-group-item list-group-item-action <%= selectedPage === 'credit' ? 'active' : '' %>">Mes crédits</a>
            <a href="/profile/travels" class="list-group-item list-group-item-action <%= selectedPage === 'travels' ? 'active' : '' %>">Mes trajets</a>
            <a href="/profile/reservations" class="list-group-item list-group-item-action <%= selectedPage === 'reservations' ? 'active' : '' %>">Mes réservations</a>
            <a href="/profile/cars" class="list-group-item list-group-item-action <%= selectedPage === 'cars' ? 'active' : '' %>">Mes véhicules</a>
            <a href="/profile/history" class="list-group-item list-group-item-action <%= selectedPage === 'history' ? 'active' : '' %>">Mon historique</a>
            <a href="/profile/password" class="list-group-item list-group-item-action <%= selectedPage === 'password' ? 'active' : '' %>">Changer mot de passe</a>
    
        </div>
    </div>
</div>